form {
	margin: 0px;
	padding: 0px;
}

table.statstable {
	border-width: 1px;
	border-spacing: 0px 0px;
	border-style: solid;
	border-color: #B7B7B7;
	border-collapse: collapse;
	width: 500px;
}
table.statstable th {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #B7B7B7;
	text-align: left;
	background-color: #DFDFDF;
}
table.statstable td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #B7B7B7;
}
.row1 {
	background-color: #F8F8F8;
}
.row2 {
	background-color: #F0F0F0;
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}