/* hiding all edit buttons */
.icon_edit { width:14px; height:15px; }

/* hiding all delete buttons */
.icon_delete { 	width:14px; height:15px; }

/* hiding all buttons buttons */
.button { display:none; }

/* hiding all submit buttons */
.submit { display:none; }

/* hiding all cancel buttons */
.resetclass { display:none; }