<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>liquido</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../../css/liquido.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      
    <td height="20" background="../../gfx/head_bg2.gif"> &nbsp; <font color="#666666"><a href="#" onClick="parent.Details.location.href='list_details.php'; return false">&Uuml;bersicht</a>&nbsp;| 
      Medien-Bibliothek-Mappen </font></td>
    </tr>
  </table>
</body>
</html>
