<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="109"><a href="components/contents/body.php?setmode=detail" target="middle"><img src="components/contents/gfx/bu_detail.gif" name="detail" width="109" height="27" border="0" onMouseOver="MM_swapImage('detail','','components/contents/gfx/bu_detail_o.gif',1);" onMouseOut="MM_swapImgRestore()"></a></td>
    <td width="66"><a href="components/contents/body.php?setmode=preview" target="middle"><img src="components/contents/gfx/bu_preview.gif" name="preview" width="66" height="27" border="0" onMouseOver="MM_swapImage('preview','','components/contents/gfx/bu_preview_o.gif',1);" onMouseOut="MM_swapImgRestore()"></a></td>
    <td width="83"><a href="components/contents/body.php?setmode=compose" target="middle" ><img src="components/contents/gfx/bu_compose.gif" name="compose" width="83" height="27" border="0" onMouseOver="MM_swapImage('compose','','components/contents/gfx/bu_compose_o.gif',1);" onMouseOut="MM_swapImgRestore()"></a></td>
  </tr>
</table>
