
<form id="mikos_register" name="mikos_register" method="post" action="/mikos/libs/ajax.php" enctype="application/x-www-form-urlencoded" onsubmit="return false; ">

<table cellpadding="4" cellspacing="4" border="0" style="margin-left: -6px;" id="inputtable">
<tr>
  <td class="plain">Mitglieds-/Kartennummer:</td>
  <td class="bold"><input class="inputclass_p" name="membernumber" type="text" id="membernumber" value="" /></td>
</tr>
<tr>
  <td class="plain">Vorname:</td>
  <td class="bold"><input class="inputclass_p" name="firstname" type="text" id="firstname" value="" /></td>
</tr>
<tr>
  <td class="plain">Nachname:</td>
  <td class="bold"><input class="inputclass_p" name="lastname" type="text" id="lastname" value="" /></td>
</tr>
<tr>
  <td class="plain">Sichtcode:</td>
  <td class="bold"><input class="inputclass_p" name="captcha_code" type="text" id="captcha_code" value="" /> <img src="/mikos/libs/captcha.php" /></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><span style="color: #FF0000; font-weight: bold;" id="output">[{$error}]</span></td>
</tr>
<tr>
  <td><input name="kis_action" type="hidden" id="kis_action" value="doForgotPassword" /><input type="hidden" name="class" value="KIS" /></td>
  <td><input class="submit" id="submit_form" type="button" name="Submit" value="Abschicken" /><div id="loader"></div><br/> </td>
</tr>
</table>
<div id="output"></div>
</form>
