<noscript><div id="javascript_info">Bitte aktivieren Sie JavaScript in Ihrem Browser um diesen Bereich zu betreten.</div></noscript>
<form id="mikos_login" name="mikos_login" method="post" action="/mikos/libs/ajax.php" onsubmit="return false;" enctype="application/x-www-form-urlencoded" >
<table border="0">
<tr>
  <td><label for="username">Benutzername:</label></td>
  <td><input name="username" type="text" class="inputclass_p" id="username" value="" /></td>
</tr>
<tr>
  <td><label for="password">Passwort:</label></td>
  <td><input name="password" class="inputclass_p" type="password" id="password" value="" />
  <input type="hidden" name="class" id="class" value="KIS" /></td>
</tr>
<tr>
	<td></td>
  <td><input name="autologin" type="checkbox" value="true" />  angemeldet bleiben</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><input name="kis_action" id="kis_action" type="hidden" value="doLogin" />
  <input type="button" name="submit" class="submit" value="Login"/></td>
</tr>

</table><br />
<div id="loader"></div>
<div id="output" style="float:none;"></div>
</form>
