<table width="100%" cellpadding="0" cellspacing="0" border="0" id="carList">
  <tr>
  <td class="tdata0"><div align="left">Marke</div></td>
  <td class="tdata0"><div align="left">Modell</div></td>
  <td class="tdata0"><div align="left">Typ</div></td>
  <td class="tdata0"><div align="left">KFZ-Kennzeichen</div></td>
  <td class="tdata0"><div align="left">Fahrgestellnummer</div></td>
  <td class="tdata0"><div align="left">&nbsp;</div></td>
  </tr>
[{foreach key=cnr name=Cars from=$myCars item=c}]

  <tr bgcolor="[{cycle values="#ffffff,#e6e6eb"}]" id="row_[{$c.ID}]">
    <td class="tdata1"><div align="left" id="[{$c}]_brand">[{$c.carBrand}]</div></td>
    <td class="tdata1"><div align="left" id="[{$c}]_brand">[{$c.carModel}]</div></td>
    <td class="tdata1"><div align="left" id="[{$c}]_brand">[{$c.carType}]</div></td>
    <td class="tdata1"><div align="left" id="[{$c}]_brand">[{$c.carLicenseNr}]</div></td>
    <td class="tdata1"><div align="left" id="[{$c}]_brand">[{$c.carvinNr}]</div></td>
	<td class="tdata1">
		[{if $c.ID }]<div class="icon_edit tip" id="show_[{$c.ID }]" title="bearbeiten : Eigenschaften dieses Fahrzeuges verändern"></div> <div class="icon_delete tip" id="del_[{$c.ID }]" title="löschen : Dieses Fahrzeug löschen"></div>[{/if}]
	</td>
  </tr>
[{foreachelse}]
  <tr>
    <td class="tdata1" colspan="5">Keine Fahrzeuge vorhanden. </td>
  </tr>
[{/foreach}]
</table>