<div id="addCar" [{if $numcars >= 5}] style="display:none;" [{/if}] class="button">Fahrzeug hinzufügen </div>

<div id="editCar" style="display:none;" class="floating">
	<div class="window"style="width:550px;  margin-left:-275px;" id="edit_window" >
	<form name="edit_window" id="form_editMyCars" method="post" action="/mikos/libs/ajax.php" enctype="application/x-www-form-urlencoded" onsubmit="return false;" >
		<h3 id="carEditTitle">Fahrzeug editieren</h3>
		<div id="edit_loading" style="height:20px;">
			<span class="ajax_wait" style="padding-left:20px;height:20px;">lade Fahrzeugdaten...</span>
		</div>
		
		<table id="edit_content" cellpadding="4" cellspacing="4" border="0" >
		  <tr>
		    <td class="plain">Marke:</td>
		    <td class="bold"><input type="text" name="carBrand" id="carBrand" class="inputclass_p" value="" size="20" maxlength="30" /></td>
		    <td class="bold"><img src="/images/spacer.gif" width="20px" /></td>
		    <td class="plain">Modell:</td>
		    <td class="bold"><input type="text" name="carModel" id="carModel" class="inputclass_p" value="" size="20" maxlength="30" /></td>
		  </tr>
		  <tr>
		    <td class="plain">Typ:</td>
		    <td class="bold"><input type="text" name="carType" id="carType" class="inputclass_p" value="" size="20" maxlength="30" /></td>
		    <td class="bold"><img src="/images/spacer.gif" width="20px" /></td>
		    <td class="plain">Kennzeichen:</td>
		    <td class="bold"><input type="text" name="carLicenseNr" id="carLicenseNr" class="inputclass_p" value=""size="20" maxlength="12" /></td>
		  </tr>

		  <tr>
		    <td class="plain">Fahrgestellnummer:</td>
		    <td class="bold"><input type="text" name="carvinNr" id="carvinNr" class="inputclass_p" value="" size="20"  maxlength="50" /></td>
		    <td class="bold"><img src="/images/spacer.gif" width="20" /></td>
		    <td class="plain">Baujahr:</td>
		    <td class="bold"><input type="text" name="buildYear" id="buildYear" class="inputclass_p" value="" size="6" maxlength="4" /></td>
		  </tr>

		  <tr>
		    <td class="plain">Kilometerstand:</td>
		    <td class="bold"><input type="text" name="kmReading" id="kmReading" class="inputclass_p" value="" size="20" maxlength="15" /></td>
		    <td class="bold"><img src="/images/spacer.gif" width="20px" /></td>
		    <td class="bold" colspan="2"><input type="button" class="submit" id="submit_form" value="Anlegen" />
			<input type="reset" class="resetclass" value="Abbrechen" id="bu_cancel" />
			<br />
			</td>
		  </tr>
		  <tr>
		    <td ><span class="mand">= Pflichfeld</span></td>
		    <td ></td>
		    <td class="bold"><img src="/images/spacer.gif" width="20px" /></td>
		    <td class="bold" colspan="2">
				<div id="output"></div>
				<input type="hidden" name="kis_action" id="kis_action" value="doCreateCar" />
				<input type="hidden" name="class" id="class" value="KIS" />
				<input type="hidden" name="ID" id="ID" value="" />
			</td>
		  </tr>
		</table>
	</form>
	</div>
	<div class="background"></div>
</div>