<table cellpadding="0" cellspacing="4" width="70%">
<tr>
    <td>Kunden-/Mitgliedsnummer:</td><td><b>[{$custInfo->memberNumber}]</b></td>
</tr>
<tr>
    <td>Name:</td><td><b>[{$custInfo->salutation}] [{$custInfo->frontTitle}] [{$custInfo->firstName}] [{$custInfo->surname}]</b></td>
</tr>
<tr>
    <td>Straße:</td><td><b id="d_street">[{$custInfo->street}]</b> <b id="d_houseNumber">[{$custInfo->houseNumber}]</b> <b id="d_houseNumberAdd">[{$custInfo->houseNumberAdd}]</b></td>
</tr>
<tr>
    <td>PLZ / Ort:</td><td><b id="d_zip">[{$custInfo->zip}]</b> <b id="d_city">[{$custInfo->city}]</b></td>
</tr>
<tr>
    <td>Land:</td><td><b id="d_countryName">[{$custInfo->countryName}]</b></td>
</tr>
<tr>
    <td>Telefon:</td><td><b id="d_telephone">[{$custInfo->telephone}]</b></td>
</tr>
<tr>
<td>Mobilnummer:</td><td><b id="d_mobile">[{$custInfo->mobile}]</b></td>
</tr>
<tr>
<td>Faxnummer:</td><td><b id="d_fax">[{$custInfo->fax}]</b></td>
</tr>
<tr>
<td>E-Mail:</td><td><b id="d_email">[{$custInfo->email}]</b></td>
</tr>
<tr>
<td>Geburtstag:</td><td><b id="d_birthday">[{$custInfo->birthday}]</b></td>
</tr>

</table>

<br />
<div style="float:left; margin-top:20px; margin-right: 8px;">Wenn Sie Ihre Daten aktualisieren möchten, klicken Sie bitte hier:</div> <div class="button" id="bu_edit">Daten ändern</div>
<div style="clear:both;"></div>

[{include file="myDataEdit.html" custInfo=$custInfo"}]

<script language="javascript"> jsobj=[{$JSobject}]; mikos="myDataInit"; </script>
