<div id="content">

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td class="tdata0"><div align="left">Partner</div></td>
    <td class="tdata0"><div align="left">Stra&szlig;e</div></td>
    <td class="tdata0"><div align="left">Ort</div></td>
    <td class="tdata0"><div align="left">Telefon</div></td>
  </tr>

[{foreach key=dnr name=Dealers from=$dealer item=d}]
  <tr bgcolor="[{cycle values="#ffffff,#e6e6eb"}]" style="cursor:pointer">
    <td class="tdata1"><div align="left" class="copy showDetails" id="d[{$d->id}]"><img src="/liquido_container/9999/arrow_link.gif"/>[{$d->name}]</div></td>
    <td class="tdata1"><div align="left">[{$d->street}] [{$d->houseNumber}]</div></td>
    <td class="tdata1"><div align="left">[{$d->zip}] [{$d->city}]</div></td>
    <td class="tdata1"><div align="left">[{$d->telephone}]</div></td>
  </tr>
[{foreachelse}]
  <tr>
    <td class="tdata1" colspan="4">Keine Partner vorhanden. </td>
  </tr>
[{/foreach}]
</table>
</div>

[{include file="myDealerDetail.html"}]

<script language="javascript">[{$jsDealerObject}]  mikos = 'myDealerInit'; </script>
