<div id="content">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
  <td class="tdata0"><div align="right">Belegdatum</div></td>
  <td class="tdata0"><div align="right">Beleg-Nr.</div></td>
  <td class="tdata0"><div align="center">Umsatzart</div></td>
  <td class="tdata0"><div align="left">Abrechnungsunternehmen</div></td>
  <td class="tdata0"><div align="right">Umsatz in EURO</div></td>
  <td class="tdata0"><div align="right">Punkte</div></td>
  </tr>

[{foreach key=tnr name=Treuepunkte from=$tp item=t}]
  <tr bgcolor="[{cycle values="#ffffff,#e6e6eb"}]">
    <td class="tdata1"><div align="right">[{$t->billDate}]</div></td>
    <td class="tdata1"><div align="right">[{$t->billNumber}]</div></td>
    <td class="tdata1"><div align="center">[{$t->type}]</div></td>
    <td class="tdata1"><div align="left">[{$t->rowDesc}]</div></td>
    <td class="tdata1"><div align="right">[{$t->euroAmount|string_format:"%.2f"}]</div></td>
    <td class="tdata1"><div align="right">[{$t->points}]</div></td>
  </tr>
[{foreachelse}]
  <tr>
    <td class="tdata1" colspan="7">Keine Treuepunkte vorhanden. </td>
  </tr>
[{/foreach}]
  <tr>
    <td colspan="5" class="tdata3"><div align="right"><b>Summe der Treuepunkte:</b></div></td>
    <td class="tdata3"><div align="right"><b>[{$tp[0]->state}] Pkt.</b></div></td>
  </tr>
</table>
</div>
