<script src="/mikos/libs/ajax.js" type="application/javascript"></script>

<form id="mikos_register" name="mikos_register" method="post" action="/mikos/libs/ajax.php">

<table cellpadding="4" cellspacing="4" border="0" style="margin-left: -6px;">
<tr>
  <td class="plain">Neue E-Mail:</td>
  <td class="bold"><input class="inputclass_p" name="newemail" type="text" id="newemail" value="" /></td>
</tr>
<tr>
  <td class="plain">Neue E-Mail wiederholen:</td>
  <td class="bold"><input class="inputclass_p" name="newemailrepeat" type="text" id="newemailrepeat" value="" /></td>
</tr>
<tr>
  <td class="plain">Geheime Frage:</td>
  <td class="bold">[{$secretquestion}]</td>
</tr>
<tr>
  <td class="plain">Geheime Antwort:</td>
  <td class="bold"><input class="inputclass_p" name="secretanswer" type="password" id="secretanswer" value="" /></td>
</tr>
<tr>
  <td class="plain">Sichtcode:</td>
  <td class="bold"><input class="inputclass_p" name="captcha_code" type="text" id="captcha_code" value="" /> <img src="/mikos/libs/captcha.php" /></td>
</tr>
<tr>
  <td><input name="kis_action" type="hidden" id="kis_action" value="doSetNewMail" /><input type="hidden" name="class" value="KIS" /></td>
  <td><input class="submitclass" type="button" name="Submit" value="Abschicken" onclick="$('mikos_register').send({'evalScripts':true});" /></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><span style="color: #FF0000; font-weight: bold;" id="output">[{$error}]</span></td>
</tr>
</table>
</form>
