<div class="floating" id="Edit" >
	<div class="window" id="edit_window" style="widht:350px; margin-left:-175px;">
		<h2>Händlerdaten editieren</h2>
		<form method="post" id="mikos_editMyData" action="/mikos/libs/ajax.php" name="edit">
		<input type="hidden" name="class" value="CPIS" />
		<input type="hidden" name="cpis_action" value="doEditMyData" />
		<table cellpadding="4" cellspacing="4" border="0" style="margin-left: -6px;">
		  <tr>
		  <td class="plain">Firma:</td>
		  <td class="bold">[{$custInfo->name}]</td>
		  </tr>
		  <tr>
		  <td class="plain">Stra&szlig;e / Nr.:</td>
		  <td class="bold">[{$custInfo->street}] [{$custInfo->houseNumber}]</td>
		  </tr>
		  <tr>
		  <td class="plain">PLZ / Ort:</td>
		  <td class="bold">[{$custInfo->zip}] [{$custInfo->city}]</td>
		  </tr>
		  <tr>
		  <td class="plain">Telefon:</td>
		  <td class="bold"><input type="text" name="telephone" id="telephone" class="inputclass_p" value="[{$custInfo->telephone}]" size="20" maxlength="50" /><span id="n_telephone" class="error"></span></td>
		  </tr>
		  <tr>
		  <td class="plain">Fax:</td>
		  <td class="bold"><input type="text" name="fax" id="fax" value="[{$custInfo->fax}]" class="inputclass" size="20" maxlength="50" /><span id="n_fax" class="error"></span></td>
		  </tr>
		  <tr>
		  <td class="plain">E-Mail:</td>
		  <td class="bold"><input type="text" name="email" id="email" class="inputclass_p"  value="[{$custInfo->email}]" size="20" maxlength="50" />
		  <span id="n_email" class="error"></span></td>
		  </tr>
		  <tr>
		  <td class="plain">Webadresse:</td>
		  <td class="bold"><input type="text" name="webSite" id="webSite" class="inputclass" value="[{$custInfo->webSite}]" size="20" maxlength="100" /><span id="n_website" class="error"></span>
		  </td>
		  </tr>
		<tr>
		  <td class="bold"><strong>Password ändern:</strong></td>
		  <td class="bold">
		  </td>
		  </tr>
		
		<tr>
		  <td class="plain">altes Passwort:</td>
		  <td class="bold"><input type="password" name="oldpassword" id="oldpassword" class="inputclass" value="" size="20"  maxlength="20" />
		  </td>
		  </tr><tr>
		  <td class="plain">neues Passwort:</td>
		  <td class="bold"><input type="password" name="newpassword" id="newpassword" class="inputclass" value="" size="20" maxlength="20" />
		  </td>
		  </tr><tr>
		  <td class="plain">neues Passwort wiederholen:</td>
		  <td class="bold"><input type="password" name="newpassword2" id="newpassword2" class="inputclass" value="" size="20"  maxlength="20" />
		  </td>
		  </tr>
		
		  <tr>
		  <td class="plain"> </td>
		  <td class="bold">
		  	<input type="button" id="submit_form" class="submit" value="Speichern" /> 
		  	<input type="button" class="resetclass" id="bu_cancel" value="Abbrechen" style="margin-left:14px" />
		  	<div id="loader"></div><div id="output"></div>
		  </td>

		  </tr>
		</table>
		<div class="mand"> = Pflichtfeld</div>
		<div style="clear:left;"></div>
		</form>
	</div>
	<div class="background"></div>
</div>