<table width="100%" cellpadding="0" cellspacing="0" border="0" id="membersList">
  <tr>
	  <td class="tdata0" align="left">Vorname</td>
	  <td class="tdata0" align="left">Nachname</td>
	  <td class="tdata0" align="left">Status</td>
	  <td class="tdata0" align="left">&nbsp;</td>
  </tr>
  
[{foreach key=wnr name=list from=$myMemberRequests item=e}]

  <tr bgcolor="[{cycle values='#ffffff,#e6e6eb'}]" id="row_[{$w->ID}]">
    <td class="tdata1" align="left" id="[{$w}]_firstName">[{$e->firstname|mb_convert_encoding:'UTF-8':'auto'}]</td>
    <td class="tdata1" align="left" id="[{$w}]_lastName">[{$e->surname|mb_convert_encoding:'UTF-8':'auto'}]</td>
    <td class="tdata1" align="left" id="[{$w}]_position">[{$e->statusNrTxt|mb_convert_encoding:'UTF-8':'auto'}]</td>
	<td class="tdata1">
		[{if $w.ID }]<div class="editMember" id="show_[{$e->ID }]" title="bearbeiten :: Dieses Mitglied bearbeiten"></div> <div class="deleteMember" id="del_[{$w->ID }]" title="löschen :: Dieses Mitglied löschen"></div>[{/if}]
	</td>
  </tr>
[{foreachelse}]
  <tr>
    <td class="tdata1" colspan="10">Keine Mitgliedsanträge vorhanden. </td>
  </tr>
[{/foreach}]
</table>