<table width="100%" cellpadding="0" cellspacing="0" border="0" id="employerList">
  <tr>
	  <td class="tdata0" align="left">Vorname</td>
	  <td class="tdata0" align="left">Nachname</td>
	  <td class="tdata0" align="left">Position</td>
	  <td class="tdata0" align="left">Kundenanzeige</td>
	  <td class="tdata0" align="left">&nbsp;</td>
  </tr>
 
[{foreach key=wnr name=Employees from=$myEmployees item=w}]
[{if $w->isDeleted neq 1}]
  <tr bgcolor="[{cycle values='#ffffff,#e6e6eb'}]" id="row_[{$w->id}]">
    <td class="tdata1" align="left" id="[{$w->id}]_firstName">[{$w->firstname}]</td>
    <td class="tdata1" align="left" id="[{$w->id}]_lastName">[{$w->surname}]</td>
    <td class="tdata1" align="left" id="[{$w->id}]_position">[{$w->pasttitle}]</td>
    <td class="tdata1" align="left" id="[{$w->id}]_details">[{if ($w->showDetails == 1)}]ja[{else}]nein[{/if}]</td>
    <td class="tdata1" align="left" id="detailsOf_[{$w->id}]"><div class="showEmployee" id="e[{$w->id}]"><img src="/liquido_container/9999/arrow_link.gif"/>Detailansicht</div></td>
  </tr>
[{/if}]
[{foreachelse}]
  <tr>
    <td class="tdata1" colspan="10">Keine Mitarbeiter vorhanden. </td>
  </tr>
[{/foreach}]
</table>