<form id="mikos_register" name="mikos_register" method="post" action="/mikos/libs/ajax.php"  onsubmit="return false; ">
<table cellpadding="4" cellspacing="4" border="0" style="margin-left: -6px;" id="registerTable">
<tr>
  <td class="plain" width="150">Mitglieds-/Kartennummer:</td>
  <td class="bold"><input class="inputclass_p" name="membernumber" type="text" id="membernumber" value="" maxlength="25" /></td>
</tr>
<tr>
  <td class="plain">E-Mail:</td>
  <td class="bold"><input class="inputclass_p" name="email" type="text" id="email" value="" maxlength="50" /></td>
</tr>
<tr>
  <td class="plain">Benutzername:</td>
  <td class="bold"><input class="inputclass_p" name="username" type="text" id="username" value="" maxlength="10" /></td>
</tr>
<tr>
  <td class="plain">Passwort:</td>
  <td class="bold"><input class="inputclass_p" name="passwd1" type="password" id="passwd1" value="" maxlength="10" /></td>
</tr>
<tr>
  <td class="plain">Passwort (wiederholen):</td>
  <td class="bold"><input class="inputclass_p" name="passwd2" type="password" id="passwd2" value="" maxlength="10" /></td>
</tr>
<tr>
  <td class="plain">Geheime Frage:</td>
  <td class="bold"><input class="inputclass_p" name="secretQuestion" type="text" id="secretQuestion" value="" maxlength="250" /></td>
</tr>
<tr>
  <td class="plain">Geheime Antwort:</td>
  <td class="bold"><input class="inputclass_p" name="secretAnswer" type="text" id="secretAnswer" value="" maxlength="100"/></td>
</tr>
<tr>
  <td class="plain" colspan="2">
	<input type="checkbox" name="wantAccess" /> <span id="wantAccess">Ich möchte Zugang zum Kundeninformationssystem des Volkswagen Club.</span><br><br>
	<input type="checkbox" name="newsletter" id="newsletter"/> Ich wünsche über Neuigkeiten informiert zu werden.<br><br>
	<input type="checkbox" name="accept" /> <span id="accept">Ich akzeptiere die <a href="/?page=753" target="_blank">Datenschutzerklärung/Nutzungsbedingungen</a></span>
  </td>
</tr>
<tr>
  <td class="plain">Sichtcode:<br><span style="color:#666666; font-size:10px;">Die manuelle Eingabe des Sichtcodes verhindert die automatische Registrierung durch Spamroboter.</span></td>
  <td class="bold"><input class="inputclass_p" name="captcha_code" type="text" id="captcha_code" value="" /> <img src="/mikos/libs/captcha.php" /></td>
</tr>
<tr>
  <td><input name="kis_action" type="hidden" id="kis_action" value="doRegister" /><input type="hidden" name="class" value="KIS" /></td>
  <td><input type="button" id="submit_form" class="submit" value="abschicken" /> </td>
</tr>
</table>
<div id="output"></div>
</form>