
<link rel="stylesheet" type="text/css" href="components/informal/css/liquido.css" />
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="tab"><a href="components/informal/body.php?setmode=detail" target="middle">Informationen</a></td>
    <td class="tab"><a href="components/informal/body.php?setmode=preview" target="middle">Ansicht</a></td>
    <td class="tab"><a href="components/informal/body.php?setmode=compose" target="middle">Compose</a></td>
    <!--<td class="tab"><a href="components/informal/body.php?setmode=submissions" target="middle">Eingaben</a></td> -->
    <!-- <td class="tab"><a href="components/informal/body.php?setmode=email" target="middle">E-Mail-Vorlagen</a></td> -->
  </tr>
</table>

