.blue_bg {
	background-image:url(gfx/bg.jpg);
	border-right:1px solid #CCCCCC;
}

/* Searchbox-Styles */
#searchbox {
	position:absolute;
	top:10px;
	left:15px;
	width:140px;
}

#searchbox_inputbox {
	width:139px;
	height:22px;
	background-image:url(gfx/searchbox.gif);
}

#searchbox input {
	width:90px;
	height:16px;
	border:1px;
	margin:4px 0px 0px 20px;
	padding:0px;
}

#searchbox_clear {	/* button zum clearen der Searchbox */
	position:absolute;
	margin-left:119px;
	margin-top:4px;
	background-image:url(gfx/searchbox_clear.png);
	background-repeat:no-repeat;
	cursor:pointer;
	height:14px;
	width:14px;
	margin-right:3px;
	display:none;
}

#leftpane_content_box {
	position:absolute;
	top:40px;
	min-height:100px;
	width:168px;
	background-image:url(gfx/contentbg.jpg);
	background-color:#C8D2DE;
	border:1px solid #CCCCCC;
	border-top:1px solid #999999;
}

#leftpane_content {
	padding:5px;
}

.content_centered {
	width: 500px;
	margin: 20px;
}