address
{
	padding-bottom: 10px;
	padding-left: 10px;
}

body
{
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 0px;
}

h2
{
	margin: 15px;
	margin-bottom: 8px;
}

p, .formElement
{
	background: #FFFFFF;
	padding: 10px;
	margin: 10px;
	line-height: 150%;
}

ul
{
	padding-left: 20px;
	margin: 3px;
}

table
{
	border: 0px;
	border-spacing: 1px;
	font-size: 12px;
}

td
{
	border: 0px;
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
}

th
{
	background: #DDFFDD;
	border: 0px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: left;
	white-space: nowrap;
}

.badFormField
{
	color: #FF0000;
}

.error
{
	border-color: #FF0000;
}

.inputText
{
	background: #EFEFEF;
	border-color: #666666;
	border-style: inset;
	border-width: 1px;
}

.linkBlind
{
    color: #000000;
	text-decoration: none;
}

a.linkBlind:hover
{
	text-decoration: underline;
}

.padding
{
	margin: 10px;

}

.pageHeader
{
	background: #999999;
	color: #FFFFFF;
	margin: 0px;
	padding: 15px;
}

.submitButton
{
	background: #999999;
	border-color: #666666;
	border-style: outset;
	border-width: 1px;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
}

div.menu
{
	background: #FFF;
	height: 1.35em;
 	margin: 0;
	padding: .5em .4em;
}

div.menu .login-link
{
	float: right;
}

div.menu ul
{
	float: left;
	display: inline;
	padding: 0;
 	margin: 0;
}

div.menu ul li
{
	display: inline;
}

div.menu ul li a, .button, .button-inactive, .button-smaller
{
	background: #999999;
	border-color: #666666;
	border-style: outset;
	border-width: .1em;
	color: #FFFFFF;
	font-weight: bold;
	margin: .15em;
	padding: .15em .4em;
	text-decoration: none;
}

.button-smaller
{
	font-size: 0.8em;
}

div.menu ul li a:hover, .button:hover
{
	background: #aaa;
	border-color: #999999;
	border-width: .1em;
}

.button-inactive
{
	background: #DDDDDD;
	border-color: #DDDDDD;
}

.formElement .editor
{
	border-style: none;
	background: none;
	margin-bottom: 10px;
	padding: 0;
}

.formElement .editor .html
{
	background: #FFFFFF;
	padding: 10px;
	border: 1px dashed #999999;
}

.formElement .editor .buttons
{
	padding: 0px;
	font-size: 0.8em;
	vertical-align: top;
}

.details
{
	color: #999999;
	font-size: 0.9em;
	margin-left: 0.5em;
}

.editor-functions
{
	background: #EFEFEF;
	padding: .15em 0 .25em .2em;
}

/* for form fields */
.required
{
	color: #AAAAAA;
	font-style: italic;
	margin-left: 0.3em;
}

.field_error_message
{
	color: #F00;
	font-weight: bold;
}

.form-element-description
{
	font-size: 0.8em;
	line-height: 1.3em;
	max-width: 50%;
}
