<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>liquido</title>
<link href="../../css/liquido.css" rel="stylesheet" type="text/css">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="27" height="20" background="../../gfx/head_bg2.gif">&nbsp; </td>
    <td width="192" background="../../gfx/head_bg2.gif"> | Gruppen </td>
    <td width="202" background="../../gfx/head_bg2.gif">| Benutzer</td>
    <td width="" background="../../gfx/head_bg2.gif">| Gruppenrechte</td>
  </tr>
</table>
</body>
</html>
